.app {
  text-align: center;
}

.app-form {
  padding: 20px;
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 20px;
  z-index: 1;
  background-color: lightseagreen;
  width: 70%;
  justify-content: center;
  border-radius: 5px;
  margin-left: 15%;
}